common:
  project_name: "semeval2026_Task13"
  experiment_name: "subtask-A"
  
  # Paths
  data_dir: "data/Task_A"
  checkpoint_dir: "results/results_TaskA/checkpoints"
  
  # Model
  model_name: "microsoft/unixcoder-base"
  num_labels: 2
  max_length: 512
  
  use_extra_features: true
  extra_features_dim: 5
  style_projection_dim: 64
  
  # --- LOSS STRATEGY ---
  supcon_temperature: 0.1
  lambda_supcon: 0.0
  
  # --- TRAINING HYPERPARAMETERS ---
  batch_size: 24
  num_epochs: 6
  learning_rate: 2.0e-5
  gradient_accumulation_steps: 1
  early_stop_patience: 3
  
  # --- DATA BALANCING ---
  balance_languages: true
  target_size_per_language: 50000 

  # --- DATA AUGMENTATION ---
  augmentation:
    prob: 0.7                
    newline_prob: 0.5        
    comment_drop_prob: 0.3   
  
  # Hardware
  num_workers: 8
  seed: 42