common:
  # ---------------------------------------------------------------------------
  # PROJECT META
  # ---------------------------------------------------------------------------
  project_name: "semeval2026_Task13"
  experiment_name: "Subtask-A"
  
  # ---------------------------------------------------------------------------
  # PATHS
  # ---------------------------------------------------------------------------
  data_dir: "data/Task_A"
  vector_data_dir: "data/Task_A/processed"
  checkpoint_dir: "results/results_TaskA/checkpoints"
  
  # ---------------------------------------------------------------------------
  # MODEL ARCHITECTURE
  # ---------------------------------------------------------------------------
  model_name: "microsoft/unixcoder-base"
  num_labels: 2
  
  # Dimensioni Input
  semantic_embedding_dim: 768
  structural_feature_dim: 9
    
  # ---------------------------------------------------------------------------
  # TRAINING HYPERPARAMETERS
  # ---------------------------------------------------------------------------  
  batch_size: 128
  num_epochs: 50
  learning_rate: 1.0e-3
  early_stop_patience: 10
  
  weight_decay: 0.01
  
  # ---------------------------------------------------------------------------
  # HARDWARE & REPRODUCIBILITY
  # ---------------------------------------------------------------------------
  num_workers: 0 
  seed: 42